/*
 DJANGO Admin styles
 */

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #333;
    background: #f8f8f8;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 23px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    list-style-type: square;
    padding: 1px 0;
}

ul.plainlist {
    margin-left: 0 !important;
}

ul.plainlist li {
    list-style-type: none;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 11px;
    line-height: 14px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
}

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 11px;
}

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
}

code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 9px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help {
    font-size: 10px !important;
    color: #999;
}

img.help-tooltip {
    cursor: help;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.quiet strong {
    font-weight: bold !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
}

.nowrap {
    white-space: nowrap;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 13px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 10px 10px 9px;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

thead th, tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: normal;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child, tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: #F9FBFF;
}

/* SORTABLE TABLES */

thead th {
    padding: 2px 5px;
    line-height: normal;
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
    background: #c5c5c5 url(../img/nav-bg-selected.gif) top left repeat-x;
}

table thead th .text span {
    padding: 2px 5px;
    display: block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 2px 5px;
    padding-right: 38px;
}

table thead th.sortable:hover {
    background: white url(../img/nav-bg-reverse.gif) 0 -5px repeat-x;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 4px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: top;
    display: none;
}

table thead th.sorted .sortoptions a {
    width: 10px;
    height: 12px;
    display: inline-block;
}

table thead th.sorted .sortoptions a.sortremove {
    background: url(../img/sorting-icons.gif) -4px -5px no-repeat;
}

table thead th.sorted .sortoptions a.sortremove:hover {
    background: url(../img/sorting-icons.gif) -4px -27px no-repeat;
}

table thead th.sorted .sortoptions a.ascending {
    background: url(../img/sorting-icons.gif) -5px -50px no-repeat;
}

table thead th.sorted .sortoptions a.ascending:hover {
    background: url(../img/sorting-icons.gif) -5px -72px no-repeat;
}

table thead th.sorted .sortoptions a.descending {
    background: url(../img/sorting-icons.gif) -5px -94px no-repeat;
}

table thead th.sorted .sortoptions a.descending:hover {
    background: url(../img/sorting-icons.gif) -5px -115px no-repeat;
}

/* ORDERABLE TABLES */

table.orderable tbody tr td:hover {
    cursor: move;
}

table.orderable tbody tr td:first-child {
    padding-left: 14px;
    background-image: url(../img/nav-bg-grabber.gif);
    background-repeat: repeat-y;
}

table.orderable-initalized .order-cell, body > tr > td.order-cell {
    display: none;
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
    color: #666666;
    font-size: 15px;
}
select {
    background-color: #fff;
    line-height: 24px;
    min-width: 170px;
    height: 25px;
}
select[multiple] {
    height: 180px;
}

input[type="text"], input[type="password"] {
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url(../img/button.gif) bottom repeat-x;
    padding: 8px 18px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
    cursor: pointer;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../img/button-reverse.gif);
    background-position: top;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    background-image: url(../img/nav-bg.gif);
    background-position: bottom;
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #7CA0C7 url(../img/button.gif) bottom repeat-x;
    font-weight: bold;
    color: #555555;
    float: right;
    padding: 8px 18px;
    cursor: pointer;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/button-reverse.gif);
    background-position: top;
}

.button[disabled].default, input[type=submit][disabled].default, input[type=button][disabled].default {
    background-image: url(../img/default-bg.gif);
    background-position: bottom;
    opacity: 0.4;
}

/* MODULES */

.module {
    border: 1px solid #bbb;
    margin-bottom: 5px;
    background: white;
    margin-top: 5px;
    clear: both;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    background: url("../img/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    line-height: 25px;
    margin: 0;
    padding-left: 10px;
    text-align: left;
}

.module table {
    border-collapse: collapse;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning {
    background-image: url(../img/icon_alert.gif);
}

ul.messagelist li.error {
    background-image: url(../img/icon_error.gif);
}

.errornote {
    color: #CC3434;
    clear: both;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    background: url("../img/icon_error.gif") no-repeat scroll 30px 25px #FFFFE4;
    display: block;
    font-size: 16px !important;
    margin: 0;
    opacity: 0.7;
    border: 1px solid #CCC66E;
    padding: 22px 22px 22px 50px;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    background: url("../img/icon_alert.gif") no-repeat scroll 5px 0.3em transparent;
    color: #777777;
    display: block;
    float: right;
    font-size: 12px !important;
    line-height: 19px;
    margin: 0 0 4px 198px;
    padding: 4px 50px 0 25px;
    margin-left: 0;
    width: 608px;
}

.errorlist li a {
    color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffffe4;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #CC3434;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../img/icon_error.gif) 5px .3em no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    background: none repeat scroll 0 0 #D0D0D0;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #666666;
    font-size: 11px;
    left: 0;
    position: static;
    text-align: left;
    top: 30px;
    width: auto;
    z-index: 1000;
    height: 20px;
    line-height: 17px;
    border-bottom: 1px solid #BBBBBB;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    background: url(../img/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 12px;
    background: url(../img/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/icon_deletelink.gif) 0 .25em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
}

a.deletelink:hover {
    color: #993333;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
    float: right;
    height: 60px;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
    background: #999 url(../img/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:active, .object-tools li:active a {
    background-image: url("../img/button-reverse.gif");
    background-position: center top;
}

.object-tools a.viewsitelink, .object-tools a.golink, .object-tools a.addlink, .object-tools a.historylink {
    padding-right: 28px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/button.gif") repeat-x scroll center bottom white;
    border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    margin-bottom: 5px;
    min-width: 76px;
    padding: 4px 10px;
    text-align: center;
}

.object-tools a.addlink:hover {
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}
table#change-history th {
    padding: 5px;
}

table#change-history tbody th {
    width: 16em;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    width: 1000px;
    min-width: 1000px;
    margin: auto !important;
    margin-top: 35px !important;
    margin-bottom: 15px !important;
}
#content.colM {
    min-width: 900px;
    width: 900px;
}
#header {
    width: 100%;
}

#content-main {
    float: left;
    width: 700px;
}

.change-list #content-main {
    float: left;
    width: 100%;
}

.colM #content-main {
    float: left;
    width: 900px;
}
#content-related {
    float: left;
    width: 18em;
    position: relative;
    margin-left: 15px;
}

#footer {
    clear: both;
    padding: 10px;
}

/* COLUMN TYPES */

.colMS {
    margin-right: 20em !important;
}

.colSM {
    margin-left: 20em !important;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -19em;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: 95%;
}

.subcol {
    float: left;
    width: 46%;
    margin-right: 15px;
}

.dashboard #content {
    width: 1000px;
}

/* HEADER */

#header {
    background-color: #47515b;
    height: 60px;
    color: #fff;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #fff;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    background: #eee url(../img/nav-bg.gif) bottom left repeat-x;
    color: #666;
    height: 25px;
}

.errornote + ul.errorlist {
    background: none repeat scroll 0 0 #FFFFE4;
    border: 1px solid #CCC66E;
    height: 50px;
    list-style-type: square;
    margin-bottom: 6px !important;
    padding-bottom: 0 !important;  
    padding-left: 69px !important;
    padding-top: 18px !important;
    margin-top: 4px !important;opacity: 0.7;
}

.errornote + ul.errorlist li {
    margin-left: 0px;
    background: none;
    list-style-type: square;
    float: none;
    color:#333;
    padding-left:0;
    display: list-item;
    font-weight:normal;font-size: 13px !important;
}